
<!-- <!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="../../assets/img/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

    <title>Islamic Center Of Yorba Linda</title>
  </head>
  <body> -->
    <!------------------ header start ------------------>
    <div class="full-width-header">
      <nav class="navbar navbar-expand-lg navbar-light nav_bg sticky-top">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="../../assets/img/logo.png" class="color_logo" alt="logo">
            <img src="../../assets/img/logo.png" class="white_logo" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <img src="../../assets/img/main-menu.png" class="img-fluid" alt="menu icon">
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto custom_menu">
              <!-- <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Regulatory</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Deposits & Investments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pr-0" href="">Loans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link pr-0" href="">Gallery</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link member_btn" href="">Back To Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!------------------ header end ------------------>
    <!-- ------------------commn_banner start------------------ -->
  <section class="innner_banner" style="background-image: url('../../assets/img/inner-banner.jpg')">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 bread_col_left">
            <h4>Our Events</h4>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 bread_col_right text-md-right">
            <p><a href="" class="yellow_clr">Home</a> / Events</p>
          </div>
        </div>
      </div>
    </section>
    <!-- ------------------commn_banner end------------------ -->
    <!-- ----------------------------------event start---------------------------------- -->
    <section class="event_bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 my-3 event_left_col">
            <div class="row inner_event_row justify-content-center">


                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3" 
                *ngFor="let item of data">
                <a [routerLink]="['event-detail',item.id]">

                  <div class="card event_card position-relative">
                    <div class="event_overlay">
                      <p class="mb-0">
                        <span class="">{{item.date | date}}</span>
                      </p>
                    </div>
                    <img class="card-img-top" [src]="item.image" alt="card image">
                    <div class="card-body">
                      <p class="font-weight-bold mb-0 blue_clr">{{item.event_name}}</p>
                      <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>{{item.time}}</small></p>
                      <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                    </div>
                  </div>
                </a>
                </div>

              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event1.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
                </a>
              </div> -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event2.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div> -->

              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event3.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div>  -->

              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event1.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
                </a>
              </div> -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event2.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div> -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event3.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div> -->

              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event1.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
                </a>
              </div> -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event2.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div> -->
              <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 event_col my-2 my-md-3">
                 <a href="event-detail.html">
                <div class="card event_card position-relative">
                  <div class="event_overlay">
                    <p class="mb-0">12
                      <span class="">Mar</span>
                    </p>
                  </div>
                  <img class="card-img-top" src="../../assets/img/event3.jpg" alt="card image">
                  <div class="card-body">
                    <p class="font-weight-bold mb-0 blue_clr">Daily Tafseer Program</p>
                    <p class="mb-0"><small><i class="fa fa-clock-o mr-1" aria-hidden="true"></i>4:40 am - 5:30 am</small></p>
                    <p class="mb-0"><small><i class="fa fa-location-arrow mr-1" aria-hidden="true"></i>Islamic Center of Yorba Linda</small></p>
                  </div>
                </div>
              </a>
              </div>              -->
            </div>
          </div>         
        </div>
      </div>
    </section>
    <!-- ----------------------------------event end---------------------------------- -->
    
    <!-- -----------------------footer start----------------------- -->
    <section class="footer_bg">
      <img src="../../assets/img/footer.png" class="img-fluid w-100" alt="footer img">
    </section>
    <div class="footer_bottom text-center py-2">
      <p class="mb-0 text-white"><small>Copyright ©<script>document.write(/\d{4}/.exec(Date())[0])</script> <span>Islamic Center Of Yorba Linda. </span> All Rights Reserved.</small></p>
    </div>
    <!-- -----------------------footer end----------------------- -->
    
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vide/0.5.1/jquery.vide.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
    <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>
    <script>
    AOS.init({
    duration: 1200,
    })
    </script>
    <!-- navbar action -->
    <script type="text/javascript">
    $(window).on('scroll', function (event) {
    var scrollValue = $(window).scrollTop();
    if (scrollValue > 120) {
    $('.navbar').addClass('menu-sticky');
    } else{
    $('.navbar').removeClass('menu-sticky');
    }
    });
    </script>
    <script type="text/javascript">
    var lFollowX = 0,
    lFollowY = 0,
    x = 0,
    y = 0,
    friction = 1 / 30;
    function moveBackground() {
    x += (lFollowX - x) * friction;
    y += (lFollowY - y) * friction;
    translate = "translate(" + x + "px, " + y + "px) scale(1.1)";
    $(".motion").css({
    "-webit-transform": translate,
    "-moz-transform": translate,
    transform: translate
    });
    window.requestAnimationFrame(moveBackground);
    }
    $(window).on("mousemove click", function (e) {
    var lMouseX = Math.max(
    -100,
    Math.min(100, $(window).width() / 2 - e.clientX)
    );
    var lMouseY = Math.max(
    -100,
    Math.min(100, $(window).height() / 2 - e.clientY)
    );
    lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
    lFollowY = (10 * lMouseY) / 100;
    });
    moveBackground();
    </script>
  <!-- </body>
</html> -->